<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ('../views/head') %>
    <link type="text/css" rel="stylesheet" href="/public/css/index.css"> 
    <title>채용사이트</title>
</head>
<body>
    <div class="wrap">
       <%- include ('../views/header') %>
        <div class="contents-main">
            <div class="contents-container">
                <div class="contents-header">
                    <div class="contents-title">채용공고</div>
                    <input type="text" class="contents-search-box" placeholder="검색"/>
                </div>
                <div class="line"></div>
                <% if (postings == "") { %>
                    <div class="no-data-text">등록된 채용 공고가 없습니다.</div>
                <% } else { %>
                    <div class="contents-item-group">
                        <% for(let data of postings) { %>
                        <div class="contents-item">
                            <div class="contents-item-name" onclick="show_detail('<%= data.id %>')">[<%= data.Company.company_name %>] <%= data.position %></div>
                            <div class="contents-item-country">근무지역: <%= data.country %> <%= data.area %></div>
                            <div class="contents-item-compensation">채용보상금: <%= data.compensation %></div>
                            <div class="contents-item-skill">사용기술: <%= data.skill %></div>
                            <button class="update-button" onclick="update_posting('<%= data.id %>')">수정</button>
                            <button class="delete-button" onclick="delete_posting('<%= data.id %>')">삭제</button>
                        </div>
                        <% } %>  
                    </div>
                <% } %>
            </div>
        <%- include ('../views/footer') %>
    </div>
</body>
<script type="text/javascript">
// 자세히 보기 
function show_detail(id) {
    location.href = "/detail?no=" + id
}

// 수정
function update_posting(id) {
    $.ajax ({
        method: "get",
        url: "/company_search_action",
        data: company_data,
        datatype: "json",
        contentType: "application/x-www-form-urlencoded; charset=utf-8",
        success: function(data) {
            console.log(data.result)
            if (data.result != -1) {
                $(".warning-company").text("등록된 회사 정보가 있습니다.")
                $(".warning-company").css("display", "block")
                $(".warning-company").addClass("p-active")
                company_id = data.result
                console.log('>> ' + company_id)
                company_infor = 1
            } else {
                $(".warning-company").text("회사 정보가 없습니다.")
                $(".warning-company").css("display", "block")
                $(".warning-company").removeClass("p-active")
                $(".no-data-company").css("display", "block")
                company_infor = 0
            }
        }
    })
}

// 삭제
function delete_posting(id) {
    if (confirm('삭제하시겠습니까?')) {

    }
}
</script>
</html>