<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ('../views/head') %>
    <link type="text/css" rel="stylesheet" href="/public/css/update.css"> 
    <title>채용공고 - 등록</title>
</head>
<body>
    <div class="wrap">
       <%- include ('../views/header') %>
        <div class="contents-main">
            <div class="contents-container">
                <div class="contents-title">채용공고 수정</div>
				<div class="type-text">회사명</div>
				<input class="input-company" type="text" value="<%= postings.Company.company_name %>" disabled>
				<p class="warning-company"></p>

                <div class="type-text">채용 포지션</div>
                <input class="input-position" type="text" value="<%= postings.position %>" placeholder="채용포지션을 입력해주세요.">
                <p class="warning-position"></p>

                <div class="type-text">채용 기술</div>
                <input class="input-skill" type="text" value="<%= postings.skill %>" placeholder="채용기술을 입력해주세요.">
                <p class="warning-skill"></p>

                <div class="type-text">채용 내용</div>
                <textarea class="input-content" rows="7" placeholder="채용내용을 입력해주세요."><%= postings.content %></textarea>
                <p class="warning-content"></p>

                <div class="type-text">근무 국가</div>
                <input class="input-country" value="<%= postings.country %>" placeholder="근무 국가를 입력해주세요.">
                <p class="warning-country"></p>

                <div class="type-text">근무 지역</div>
                <input class="input-area" value="<%= postings.area %>" placeholder="근무 지역을 입력해주세요.">
                <p class="warning-area"></p>

                <div class="type-text">채용 보상금</div>
                <input class="input-compensation" type="number" value="<%= postings.compensation %>" placeholder="채용보상금을 입력해주세요.">
                <p class="warning-compensation"></p>
                <button class="update-button" onclick="update_posting('<%= postings.id %>')">채용공고 수정하기</button>
            </div>
        <%- include ('../views/footer') %>
    </div>
</body>
<script type="text/javascript">
let position = ""
let skill = ""
let content = ""
let country = ""
let area = ""
let compensation = -99

// 채용공고 수정
function update_posting(id) {
    position = $(".input-position").val()
    skill = $(".input-skill").val()
    content = $(".input-content").val()
    country = $(".input-country").val()
    area = $(".input-area").val()
    compensation = $(".input-compensation").val()

    if (position != "" && skill != "" && content != "" && country != "" && area != "" && compensation != -99) {
        let data = {
            "id": id, 
            "position": position,
            "skill": skill,
            "content": content,
            "country": country,
            "area": area,
            "compensation": compensation
        }
    
        $.ajax ({
            method: "get",
            url: "/update_action",
            data: data,
            datatype: "json",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            success: function(data) {
                if (data.result == 0) {
                    alert("수정되었습니다.")
                    location.href = "/"
                }
            }
        })
    } 
}
</script>
</html>